SPRING_DATASOURCE_URL=jdbc:mysql://host:puerto/bambino_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Lima
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=change_me
APP_PUBLIC_BASE_URL=https://tudominio.com

SPRING_MAIL_USERNAME=correo@example.com
SPRING_MAIL_PASSWORD=change_me
SPRING_MAIL_FROM=correo@example.com

COMPROBANTES_CORREO_HABILITADO=true
COMPROBANTES_MAIL_HOST=smtp.gmail.com
COMPROBANTES_MAIL_PORT=587
COMPROBANTES_MAIL_USERNAME=comprobantes@example.com
COMPROBANTES_MAIL_PASSWORD=change_me
COMPROBANTES_MAIL_FROM=comprobantes@example.com
COMPROBANTES_MAIL_SMTP_AUTH=true
COMPROBANTES_MAIL_STARTTLS=true

UPLOAD_DIR=/app/uploads

CULQI_PUBLIC_KEY=pk_test_xxx
CULQI_SECRET_KEY=sk_test_xxx
CULQI_API_BASE_URL=https://api.culqi.com
CULQI_CHECKOUT_SCRIPT_URL=https://js.culqi.com/checkout-js
CULQI_CURRENCY=PEN
CULQI_MIN_ORDER_AMOUNT=6.00
CULQI_SANDBOX_PHONE_NUMBER=900000001

FACTILIZA_API_TOKEN=
FACTILIZA_API_BASE_URL=https://api.factiliza.com/v1
FACTILIZA_TIMEOUT_SECONDS=10
